name: Push locale messages

#on:  [push]
on:
  pull_request:
    types:
      - closed
    branches:
      - master

env:
  POEDITOR_API_TOKEN: ${{ secrets.POEDITOR_API_TOKEN }}

jobs:
  extract:
    name: Extract l10n resources
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node.js v12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Get npm cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache npm
      uses: actions/cache@v1
      id: cache
      with:
        path: ${{ steps.npm-cache.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install dependencies
      # DISABLE: due to not cache-hit poeditor-service-provider ...
      # if: steps.cache.outputs.cache-hit != 'true'
      run: npm ci
    - name: Get l10n labeled issue count
      uses: kazupon/issue-count-action@v0.3.0
      id: issue
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        labels: l10n
        state: open
    - name: Check issue count
      if: steps.issue.outputs.count > 0
      run: |
       echo 'exsit l10n labeled issue, please check issues!'
       exit 1
    - name: Check translation status
      if: success()
      uses: ./.github/actions/translation-status-action
    - name: Setup locale temp 
      if: success()
      run: |
        mkdir -p ./tmp
    - name: Extract l10n resources from SFCs
      run: |
        npx vue-i18n-locale-message sqz --target=./src --split --output=./tmp --bundleWith=./src/locales/*.json --bundleMatch=\([\\w]*\)\\.json$ --namespace=./namespace.json
    - name: Fill undedined fields of locale messages
      run: |
        npx vue-i18n-locale-message list --locale=en --define --target-paths=./tmp/*.json --filename-match=^\([\\w]*\)\\.json
    - name: Check locale message differences
      uses: ./.github/actions/locale-message-diff-action
    - name: Upload extracted l10n resources
      if: success()
      uses: actions/upload-artifact@v1
      with:
        name: l10n-resource
        path: tmp

  push:
    name: Push l10n resource to l10n service
    runs-on: ubuntu-latest
    needs: [extract]

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node.js v12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Get npm cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache npm
      uses: actions/cache@v1
      with:
        path: ${{ steps.npm-cache.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install dependency modules
      # DISABLE: due to not cache-hit poeditor-service-provider ...
      # if: steps.cache.outputs.cache-hit != 'true'
      run: npm ci
    - name: Download l10n resources
      uses: actions/download-artifact@v2
      with:
        name: l10n-resource
        path: tmp
    - name: Import localization resource to l10n service
      run: |
        npx vue-i18n-locale-message push --provider=poeditor-service-provider --conf=poeditor-service-provider-conf.json --normalize=flat --target-paths=./tmp/*.json --filename-match=^\([\\w]*\)\\.json

  export:
    name: Export xliff format l10n resource from l10n service
    runs-on: ubuntu-latest
    needs: [push]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - name: Cache npm
        uses: actions/cache@v1
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependency modules
        # DISABLE: due to not cache-hit poeditor-service-provider ...
        # if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Setup export locale message temp 
        run: |
          mkdir -p ./tmp
      - name: Export xliff format l10n resource from l10n service
        run: |
          npx vue-i18n-locale-message export --provider=poeditor-service-provider --conf=poeditor-service-provider-conf.json --output=./tmp --format=xliff
      - name: Upload exported l10n resources
        if: success()
        uses: actions/upload-artifact@v1
        with:
          name: exported-l10n-resource
          path: tmp 
